.section {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px
}
h1 span {
    border: 4px ;
    padding: 10px;
}
h1{
    font-size: 30pt;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
p {
    padding: 0;
    margin: 0;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}